<div class="row">
 <div class="col-md-12">
	<div class="white-box">
	  <div class="row" id="printable">
		<div class="col-lg-4">
			<div class="white-box">
				<div class="thumbnail fix-width"> 
				  <div class="white-box m-t-20">
					<img width="100%" alt="user" src="{{ data.logo }}" class="img-responsive m-t-25">
					</div>
				 </div>
			</div>
		</div>
		<div class="col-lg-8">
		   <div class="white-box">
				 <h3 class="box-title"><strong>{{ data.name }}</strong> 
				 <div class="pull-right">
				{% if user.hasPermission('company add') %}
				<a href="{{url('<front>')}}company/add"><i class="mdi mdi-plus-circle fadehide fonticon" title="Add" data-toggle="tooltip"></i></a>
				{% endif %}
				{% if data.name is not empty %}
				<a href="{{url('<front>')}}company/edit/{{ data.id }}"><i class="mdi mdi-pencil-circle fadehide fonticon" title="" data-toggle="tooltip" data-original-title="Edit"></i></a> 
				{% endif %}
				 </div> 
				 </h3>
					<hr class="m-t-0 m-b-40">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Business:</label>
								<div class="col-md-9">
									<span class="form-control-static"> {{ data.type }} </span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Email:</label>
								<div class="col-md-9">
									<span class="form-control-static"> {{ data.email }} </span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Phone:</label>
								<div class="col-md-9">
									<span class="form-control-static"> {{ data.phone }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Address:</label>
								<div class="col-md-9">
									<span class="form-control-static"> {{ data.address }} </span>
								</div>
							</div>
						</div>
					</div>
			</div>

				
		</div>
		</div>
	</div>
  </div>
</div>
