<div class="top-left-part">
<!-- Logo -->
	<a class="logo" href="{{url('<front>')}}">
		<!-- Logo icon image, you can use font-icon also --><b>
		<!--This is dark logo icon--><!--<img src="{{ organisation_logo }}" alt="home" class="dark-logo" />-->
		<!--This is light logo icon--><img src="{{ organisation_logo }}" alt="home" class="light-logo" width="190" height="50" />
	 </b>
		<!-- Logo text image you can use text also --><span class="hidden-xs">
		<!--This is dark logo text--><img src="{{ site_logo }}" alt="home" class="dark-logo" /><!--This is light logo text--><!--<img src="{{ site_logo }}" alt="home" class="light-logo" />-->
	 </span> </a>
<!-- /Logo -->
</div>