<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav">
    <div class="sidebar-head">
      <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> 
    </div>
    <ul class="nav" id="side-menu">
      <li>
        <a href="{{url('<front>')}}home" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
      </li>
      
	{% if user.hasPermission('company view') or user.hasPermission('company branchview') or  user.hasPermission('company deptview') or user.hasPermission('company desigview') or user.hasPermission('company configview') %}
      <li class=""><a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-settings fa-fw"></i> <span class="hide-menu">Administrative<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level two-li">
		 {% if user.hasPermission('company view') %}
		 <li><a href="{{url('<front>')}}company/view"><i class="mdi mdi-bank fa-fw"></i><span class="hide-menu">Company</span></a></li>
		 {% endif %}
          
          {% if user.hasPermission('company branchview') %}
		  <li> <a href="{{url('<front>')}}branch/list" class="waves-effect"><i class="mdi mdi-source-branch fa-fw"></i><span class="hide-menu">Branch</span></a> </li>
		  {% endif %}
		  
          {% if user.hasPermission('company deptview') %}
		  <li><a href="{{url('<front>')}}department/view"><i class="mdi mdi-lan fa-fw"></i><span class="hide-menu">Department</span></a></li>
		  {% endif %}
		  
          {% if user.hasPermission('company desigview') %}
		  <li><a href="{{url('<front>')}}designation/view"><i class="mdi mdi-account-card-details fa-fw"></i><span class="hide-menu">Designation</span></a></li>
		  {% endif %}
		  
          {% if user.hasPermission('company configview') %}
		  <li><a href="{{url('<front>')}}organisation/config"><i class="mdi mdi-settings fa-fw"></i><span class="hide-menu">Configuration</span></a></li>
		  {% endif %}
		  
		  {% if user.hasPermission('company workorder') %}
		  <li><a href="{{url('<front>')}}wordorder/list"><i class="mdi mdi-settings fa-fw"></i><span class="hide-menu">Work Order</span></a></li>
		  {% endif %}
		  
        </ul>
      </li>
      {% endif %} 


      {% if user.hasPermission('employee emplview') %}
	  <li class=""><a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-account-settings-variant fa-fw"></i> <span class="hide-menu">HR Management<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
          {% if user.hasPermission('employee emplview') %}<li><a href="{{url('<front>')}}employee"><i class="icon-user fa-fw"></i><span class="hide-menu">Employee</span></a></li>{% endif %}
        </ul>
      </li>
     {% endif %}
      <li class=""><a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-clipboard-check fa-fw"></i> <span class="hide-menu">Employee services<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
          <li><a href="{{url('<front>')}}profile"><i class="mdi mdi-account-card-details fa-fw"></i><span class="hide-menu">My profile</span></a></li>
          <li><a href="{{url('<front>')}}documents"><i class="mdi mdi-file-multiple fa-fw"></i><span class="hide-menu">My documents</span></a></li>
          <li><a href="{{url('<front>')}}leave"><i class="mdi mdi-calendar-today fa-fw"></i><span class="hide-menu">Leave</span></a></li>
        </ul>
      </li>
       

    </ul>
  </div>
</div>
