<ul class="nav navbar-top-links navbar-right pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)"> <img src="{{  url('<front>')  }}/sites/default/files/avatar/{{ propic }}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ username }}</b><span class="caret"></span> </a>
		
			<ul class="dropdown-menu dropdown-user animated fadeIn">
				<li>
					<div class="dw-user-box" style="display: flex;">
						<div class="u-img"><img src="{{  url('<front>')  }}/sites/default/files/avatar/{{ propic }}"  style="width: 67px; height:76px" alt="user" /></div>
						<div class="u-text">
							<h4>{{ username }}</h4>
							<p class="text-muted">{{ emailid }}</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
					</div>
				</li>
				<li role="separator" class="divider"></li>
				<li><a href="{{url('<front>')}}profile"><i class="ti-user"></i> My Profile</a></li>
				<li><a href="{{url('<front>')}}settings/password"><i class="ti-lock"></i> Change Password</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
				<li role="separator" class="divider"></li>
        <!-- <li><a href="{{  url('<front>')  }}user/logout"><i class="fa fa-power-off"></i> Logout</a></li> -->
        <li id="logout"><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
	</li>
</ul>

<div class="custom-modal" id="warning-popup" style="display:none">
  <div class="sweet-overlay" tabindex="-1" style="opacity: 1.01; display: block;"></div> 
  <div class="sweet-alert visible"  data-has-cancel-button="true" data-has-confirm-button="true"
  data-allow-outside-click="false" data-has-done-function="true" data-animation="pop" data-timer="null" style="display: block; margin-top: -184px;">
    <div class="mdi mdi-help-circle-outline" style="color:#F8BB86; font-size:113px; height: 130px; display: block;">
    </div> <h2>Are you sure?</h2>
    <p style="display: block;">Do you really want to logout now from current session?</p>
    <div class="sa-button-container">
      <button class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;">Cancel</button>
      <div class="sa-confirm-button-container">
        <button onclick="location.href='{{  url('<front>')  }}user/logout';" tabindex="1" style="display: inline-block; background-color: rgb(221, 107, 85);">Logout</button><div class="la-ball-fall">
      </div>
      </div>
    </div>
  </div>
</div>
