
  <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
      <div class="page-brand-info">
        <!-- <div class="brand"> -->
          <!-- <img class="brand-img" src="{{ site_logo }}" alt="..."> -->
          <!-- <h2 class="brand-text font-size-40">{{ site_name }}</h2>  -->
        <!-- </div> -->
        <p class="font-size-20">Single Signin Place where all the action is!<br/>
          One account is all you need to do all action.</p>
      </div>

      <div class="page-login-main animation-slide-right animation-duration-1">
        <div class="brand hidden-md-up">
          <img class="brand-img" src="{{ site_logo }}" alt="..." width="190" height="60">
          <!-- <h3 class="brand-text font-size-40">Remark</h3> -->
        </div>
		<div class="brand hidden-sm-down">
          <img class="brand-img" src="{{ site_logo }}" alt="..." width="190" height="60">
        </div>
		{{ page.message }}

        <footer class="page-copyright">
          <p>Entry to this site is restricted to Employee
          <br/>© {{ year }}. All RIGHT RESERVED.</p>

        </footer>
      </div>

    </div>
  </div>
  <!-- End Page -->



